<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">
            New Recipe
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body" *ngFor="let recipe of recipes">
                <h5 class="card-title"> {{ recipe.name }}</h5>
                <p class="card-text"> {{ recipe.description }}</p>
                <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
            </div>
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>